.control-panel {
  position: fixed;
  right: 0;
  z-index: 401;
}

.control-panel .menu-control {
  cursor: pointer;
  width: 45px;
  height: 30px;
  right: 0;
  position: absolute;
  margin: 10px 8px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
}

.control-panel .menu-control .hamburger-line {
  width: 80%;
  height: 4px;
  background: black;
  margin-top: 5px;
  transition: transform 0.2s;
}

.control-panel .menu-control.active .hamburger-line:nth-of-type(1) {
  transform: rotate(-45deg) translate(-7px, 5px);
}
.control-panel .menu-control.active .hamburger-line:nth-of-type(2) {
  display: none;
}
.control-panel .menu-control.active .hamburger-line:nth-of-type(3) {
  transform: rotate(45deg);
}

.control-panel .legend {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px 0 0 5px;
  top: 45px;
  right: -100px;
  opacity: 0;
  transition: opacity 0.2s, right 0.2s ease-in;
}

.control-panel .legend.active {
  opacity: 1;
  right: 0;
  transition: opacity 0.2s, right 0.2s ease-in;
}

.control-panel .legend .legend-icon {
  cursor: pointer;
  margin: 10px 15px;
}

.control-panel .legend .legend-icon.active {
  -webkit-filter: drop-shadow(0 0 3px #4390ba) drop-shadow(0 0 3px #4390ba);
  filter: drop-shadow(0 0 3px #4390ba) drop-shadow(0 0 3px #4390ba);
}
